<h1><%= t '.title' %></h1>
<div>
  <p><h4><%= t '.service_code' %>: <%= @service.code %></h4></p>
  <p><strong><%= t '.name' %>:</strong> <%= @service.name %>
  <p><strong><%= t '.description' %>:</strong> <%= @service.description %>
  <p><strong><%= t '.status' %>:</strong> <%= t (@service.status) %>
</div>
<div>
  <% if current_user.admin? %>
    <% if @service.active? %>
      <%= button_to (t '.deactivate'), deactivate_service_path(@service.id), class: "btn btn-danger"  %>
    <% else %>
      <%= button_to (t '.activate'), activate_service_path(@service.id), class: "btn btn-success"  %>
    <% end %>
  <% end%>
</div>
