<section id="package-coverages-list">
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= PackageCoverage.human_attribute_name(:code) %></th>
        <th><%= PackageCoverage.human_attribute_name(:name) %></th>
        <th><%= PackageCoverage.human_attribute_name(:description) %></th>
        <th><%= PackageCoverage.human_attribute_name(:status) %></th>
      </tr>
    </thead>
    <tbody>
      <% if @package_coverages.present? %>
        <% @package_coverages.each do |coverage| %>
          <tr>
            <td><%= link_to coverage.code, coverage, class: "link-dark" %></td>
            <td><%= coverage.name  %></td>
            <td><%= coverage.description %></td>
            <% if coverage.active? %>
              <td class="fw-semibold text-success"><%= Service.human_attribute_name("status.#{coverage.status}") %></td>
          <% else %>
              <td class="fw-semibold text-muted"><%= Service.human_attribute_name("status.#{coverage.status}") %></td>
          <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
      <% else %>
        <div class="alert alert-secondary text-center">
          <p><%= t '.message' %></p>
        </div>
      <% end %>
</section>
