<div class = "container-card" > 
  <div class="card" style="width: 25rem;">
    <% if @insurance_company.logo.attached? %>
      <%= image_tag @insurance_company.logo, class:"card-img-top" %>
    <% else %>
      <%= image_tag 'seguradora.PNG', class:"card-img-top" %>
    <% end %>
    <div class="card-body">
      <div>
        <h4 style="display:inline;"><%= @insurance_company.name %> - 
          <% if @insurance_company.company_status == 'active' %>
              <p class="fw-semibold text-success" style="display:inline;"><%= InsuranceCompany.human_attribute_name("company_status.#{@insurance_company.company_status}") %></p>
          <% else %>
              <p class="fw-semibold text-muted" style="display:inline;"><%= InsuranceCompany.human_attribute_name("company_status.#{ @insurance_company.company_status}") %></p>
          <% end %>
        </h4>
      </div><br>
      <strong><%= InsuranceCompany.human_attribute_name(:registration_number)%>:</strong> <p><%= @insurance_company.registration_number %></p>
      <strong><%= InsuranceCompany.human_attribute_name(:email_domain)%>:</strong> 
      <p><%= @insurance_company.email_domain %></p>
      <strong><%= InsuranceCompany.human_attribute_name(:token)%>:</strong><br>
      <% if @insurance_company.token_status == 'token_active' %>
            <p class="fw-semibold text-success" style="display:inline;"><%= InsuranceCompany.human_attribute_name("token_status.#{@insurance_company.token_status}") %></p>
      <% else %>
            <p class="fw-semibold text-muted" style="display:inline;"><%= InsuranceCompany.human_attribute_name("token_status.#{ @insurance_company.token_status}") %></p>
      <% end %> - <%= @insurance_company.token %>

      <% if current_user.admin? %>
        <div class="row">
          <div class="d-grid gap-2 col-4 my-3">
            <%= link_to 'Editar', edit_insurance_company_path(@insurance_company.id), class: "btn btn-dark" %>
          </div>
          <div class="d-grid gap-2 col-4 my-3">
            <% if @insurance_company.active? %>
              <%= button_to 'Desativar', deactivate_insurance_company_path(@insurance_company.id), class: "btn btn-danger"  %>
            <% else %>
              <%= button_to 'Ativar', activate_insurance_company_path(@insurance_company.id), class: "btn btn-success"  %>
            <% end %>
          </div>
          <div>
            <% if @insurance_company.token_active? %>
              <%= button_to 'Inativar Token', deactivate_token_insurance_company_path(@insurance_company.id), class: "btn btn-outline-danger"  %>
            <% else %>
              <%= button_to 'Reativar Token', activate_token_insurance_company_path(@insurance_company.id), class: "btn btn-outline-success"  %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

