<h1><%= t '.title' %></h1>

<% if @products.any? %>
  <ul class="list-group">
    <% @products.each do |product| %>
      <li class="list-group-item list-group-item-action"><%= t '.product_model' %>: <%= link_to(product.product_model, product_path(product.id)) %> - <%= product.brand %></li>
    <% end %>
  </ul>
<% else %>
  <p><%= t '.message' %></p>
<% end %>

<% if current_user.admin? %>
  <%= link_to (t '.register'), new_product_path %>
<% end %>
