<h2>Adicionar novo produto</h2>


<% if @product.errors.any? %>
  <ul>
    <% @product.errors.each do |e| %>
      <%= e.full_message %>
    <% end %>
  </ul>
<% end %>

<%= form_with(model: @product) do |f| %>
  <div class="mb-3">
    <%= f.label :product_model, class: "form-label fw-semibold" %>
    <%= f.text_field :product_model, class: "form-control" %>
    <% if(@product.errors.include? :product_model) %>
      <div class=" my-3 alert alert-danger">
        <ul>
          <% @product.errors.full_messages_for(:product_model).each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>

  <div class="mb-3">
    <%= f.label :launch_year, class: "form-label fw-semibold" %>
    <%= f.text_field :launch_year, class: "form-control" %>

    <% if(@product.errors.include? :launch_year) %>
      <div class=" my-3 alert alert-danger">
        <ul>
          <% @product.errors.full_messages_for(:launch_year).each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>

  <div class="mb-3">
    <%= f.label :brand, class: "form-label fw-semibold" %>
    <%= f.text_field :brand, class: "form-control" %>

    <% if(@product.errors.include? :brand) %>
      <div class=" my-3 alert alert-danger">
        <ul>
          <% @product.errors.full_messages_for(:brand).each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>

  <div class="mb-3">
    <%= f.label :price, class: "form-label fw-semibold" %>
    <%= f.number_field :price, step: 0.01, class: "form-control" %>

    <% if(@product.errors.include? :price) %>
      <div class=" my-3 alert alert-danger">
        <ul>
          <% @product.errors.full_messages_for(:price).each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>

  <div class="mb-3">
    <%= f.label :status, class: "form-label fw-semibold" %>
    <%= f.select :status, [["Ativo", :active], ["Inativo", :inactive]] , class: "form-control" %>

    <% if(@product.errors.include? :status) %>
      <div class=" my-3 alert alert-danger">
        <ul>
          <% @product.errors.full_messages_for(:status).each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
 
  <div class="mb-3">
    <%= f.label :product_category_id, class: "form-label fw-semibold" %>
    <%= f.collection_select :product_category_id, ProductCategory.all, :id, :name, class: "form-control" %>

    <% if(@product.errors.include? :product_category_id) %>
      <div class=" my-3 alert alert-danger">
        <ul>
          <% @product.errors.full_messages_for(:product_category_id).each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>

  <div class="mb-3">
    <%= f.label :image, 'Foto', class: "form-label fw-semibold" %>
    <%= f.file_field :image, class: "form-control" %>

    <% if(@product.errors.include? :image) %>
      <div class=" my-3 alert alert-danger">
        <ul>
          <% @product.errors.full_messages_for(:image).each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>

  <div class="d-grid mb-3">
    <%= f.submit class: "btn btn-dark" %>
  </div>
<% end %>