<div class = "container-card" style="margin:30px;"> 
<div class="card" style="width: 20rem;">  
  
  <% if @product.image.attached? %>
    <%= image_tag @product.image, class:"card-img-top" %>
  <% end %>
  <div class="card-body">
    <p><h4><%= @product.product_model %> </h4></p>
    <p><strong>Ano de lançamento:</strong> <%= @product.launch_year %>
    <p><strong>Marca:</strong> <%= @product.brand %>
    <p><strong>Preço:</strong> <%= number_to_currency(@product.price) %>
    <p><strong>Categoria:</strong> <%= @product.product_category.name %>
  </div>
</div>

</div>