<h1><%= @product.product_model %> </h1>

<p>Ano de lançamento: <%= @product.launch_year %>
<p>Marca: <%= @product.brand %>
<p>Preço: <%= @product.price %>
<p>Categoria: <%= @product.product_category.name %>
